<main class="container">
  <form 
    id="editForm"
    action="/admin/products/{{product.id}}?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
  ></form>
  <section class="pt-4">
    <div class="card my-3">
      <div class="card-body">
        <h4>基本資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label text-right">商品名稱</label>
            <div class="col-sm-7">
              <input type="text" name="name" class="form-control" id="name" value={{product.name}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="slogan" class="col-sm-2 col-form-label text-right">商品標語</label>
            <div class="col-sm-7">
              <input type="text" name="slogan" class="form-control" id="slogan" value={{product.slogan}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label text-right">商品內文</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="description" id="description" rows="3" form="editForm">{{product.description}}</textarea>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label text-right">商品分類</label>
            <div class="col-sm-7">
              <select class="form-control" name="CategoryId" id="category" form="editForm">
                {{#each categories}}
                  <option value={{this.id}} {{#ifEqual this.id ../product.CategoryId}} selected {{/ifEqual}}>
                    {{this.name}}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="tag" class="col-sm-2 col-form-label text-right">商品標籤</label>
            <div class="col-sm-7 d-flex align-items-center">
              {{#each tag}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="tag[]" value="{{this.id}}" form="editForm"
                    {{#if this.checked}}checked{{/if}}
                  >
                  <label class="form-check-label">{{this.name}}</label>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>銷售資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label text-right">商品售價</label>
            <div class="col-sm-7">
              <input type="number" name="price" class="form-control" id="price" value={{product.price}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="inventory" class="col-sm-2 col-form-label text-right">商品數量</label>
            <div class="col-sm-7">
              <input type="number" name="inventory" class="form-control" id="inventory" value={{product.inventory}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="spec" class="col-sm-2 col-form-label text-right">商品規格</label>
            <div class="col-sm-7">
              <input type="text" name="spec" class="form-control" id="spec" value={{product.spec}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="releaseDate" class="col-sm-2 col-form-label text-right">公開日期</label>
            <div class="col-sm-7">
              <input type="date" name="releaseDate" class="form-control" id="releaseDate" value={{releaseDate}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="deadline" class="col-sm-2 col-form-label text-right">預購截止日期</label>
            <div class="col-sm-7">
              <input type="date" name="deadline" class="form-control" id="deadline" value={{deadline}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="saleDate" class="col-sm-2 col-form-label text-right">發售日期</label>
            <div class="col-sm-7">
              <input type="date" name="saleDate" class="form-control" id="saleDate" value={{saleDate}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label text-right">商品是否上架</label>
            <div class="col-sm-7">
              <select class="form-control" name="status" id="status" form="editForm">
                <option value="1" {{#ifEqual ture product.status}} selected {{/ifEqual}}>是</option>
                <option value="0" {{#ifEqual false product.status}} selected {{/ifEqual}}>否</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label text-right">新增商品圖片</label>
            <div>
              <div class="custom-file col-sm-7 d-flex align-items-center">
                <input type="file" name="image" multiple="multiple" id="image" form="editForm">
              </div>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="image" class="col-2 col-form-label text-right">圖片管理</label>
            <div class="col-10 pl-0">
              <div class="form-check form-check-inline mr-0 pl-2 col-10 d-flex flex-wrap">
                {{#each images}}
                  <div class="text-center mr-1 position-relative">
                    <input id="{{this.id}}" class="input-hidden" type="radio" name="mainImg" value="{{this.id}}" form="editForm">
                    <label for="{{this.id}}" class="d-block">
                      <img src={{this.url}} class="img-thumbnail mx-1" style="width: 100px">
                    </label>
                    {{#if this.isMain}}
                      {{!-- no render --}}
                    {{else}}
                      <form class="del-img-form" action="/admin/images/{{this.id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm font-weight-normal delete-btn">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                    {{/if}}
                  </div>
                {{/each}}
              </div>
              <div class="pl-2 ml-1">
                <small class="form-text text-muted">選擇圖片以變更主圖片，或點選圖示刪除圖片，主圖片無法進行刪除</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>其他資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="series" class="col-sm-2 col-form-label text-right">隸屬作品</label>
            <div class="col-sm-7">
              <select class="form-control" name="seriesId" id="series" form="editForm">
                {{#each series}}
                  <option value={{this.id}} {{#ifEqual this.id ../product.SeriesId}} selected {{/ifEqual}}>{{this.name}}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="copyright" class="col-sm-2 col-form-label text-right">版權</label>
            <div class="col-sm-7">
              <input type="text" name="copyright" class="form-control" id="copyright" value={{product.copyright}} form="editForm">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="maker" class="col-sm-2 col-form-label text-right">廠商</label>
            <div class="col-sm-7">
              <input type="text" name="maker" class="form-control" id="maker" value={{product.maker}} form="editForm">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      </br>
      </br>
    </div>
  </section>
</main>
<nav class="navbar fixed-bottom  navbar-dark bg-dark">
  <div class="container d-flex flex-row-reverse">
    <div>
      <button class="btn btn-outline-light mr-2 py-1" onclick="history.back()">取消</button>
      <button class="btn btn-primary mr-5 py-1" type="submit" form="editForm">更新商品</button>
    </div>
  </div>
</nav>