<main class="container">
  <form class="pt-4" action="/admin/products" method="POST" enctype="multipart/form-data">
    <div class="card my-3">
      <div class="card-body">
        <h4>基本資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label text-right">商品名稱</label>
            <div class="col-sm-7">
              <input type="text" name="name" class="form-control" id="name">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="slogan" class="col-sm-2 col-form-label text-right">商品標語</label>
            <div class="col-sm-7">
              <input type="text" name="slogan" class="form-control" id="slogan">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label text-right">商品內文</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="description" id="description" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label text-right">商品分類</label>
            <div class="col-sm-7">
              <select class="form-control" name="CategoryId" id="category">
                {{#each categories}}
                  <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="tag" class="col-sm-2 col-form-label text-right">商品標籤</label>
            <div class="col-sm-7 d-flex align-items-center">
              {{#each tag}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="tag[]" id="tag_{{this.id}}" value={{this.id}}>
                  <label class="form-check-label" for="tag_{{this.id}}">{{this.name}}</label>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>銷售資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label text-right">商品售價</label>
            <div class="col-sm-7">
              <input type="number" name="price" class="form-control" id="price">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="inventory" class="col-sm-2 col-form-label text-right">商品庫存</label>
            <div class="col-sm-7">
              <input type="number" name="inventory" class="form-control" id="inventory">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="spec" class="col-sm-2 col-form-label text-right">商品規格</label>
            <div class="col-sm-7">
              <input type="text" name="spec" class="form-control" id="spec">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="releaseDate" class="col-sm-2 col-form-label text-right">公開日期</label>
            <div class="col-sm-7">
              <input type="date" name="releaseDate" class="form-control" id="releaseDate">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="deadline" class="col-sm-2 col-form-label text-right">預購截止日期</label>
            <div class="col-sm-7">
              <input type="date" name="deadline" class="form-control" id="deadline">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="saleDate" class="col-sm-2 col-form-label text-right">發售日期</label>
            <div class="col-sm-7">
              <input type="date" name="saleDate" class="form-control" id="saleDate">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label text-right">商品是否上架</label>
            <div class="col-sm-7">
              <select class="form-control" name="status" id="status">
                <option value="1">是</option>
                <option value="0" selected>否</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label text-right">商品圖片</label>
            <div>
              <div class="custom-file col-sm-7 d-flex align-items-center">
                <label for="image">
                  <i class="fas fa-upload btn btn-light mt-2 py-2"></i>
                </label>
                <input type="file" name="image" multiple="multiple" id="image" hidden>
              </div>
              <small id="emailHelp" class="form-text text-muted ml-3">
                <span>＊ 預設第一張為商品「主圖片」，規格大小為 570x670 px</span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>其他資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="series" class="col-sm-2 col-form-label text-right">隸屬作品</label>
            <div class="col-sm-7">
              <select class="form-control" name="SeriesId" id="series">
                {{#each series}}
                  <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="copyright" class="col-sm-2 col-form-label text-right">版權所屬</label>
            <div class="col-sm-7">
              <input type="text" name="copyright" class="form-control" id="copyright">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="maker" class="col-sm-2 col-form-label text-right">製造商</label>
            <div class="col-sm-7">
              <input type="text" name="maker" class="form-control" id="maker">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button class="btn btn-primary" type="submit">新增商品</button>
      </br>
      </br>
    </div>
  </form>
</main>