<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <span class="navbar-brand mb-0 h1">LOGO</span>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/products/new"><i class="fas fa-plus"></i> 新增商品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">商品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">訂單</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">會員</a>
      </li>
      <br>
    </ul>
    <a class="btn btn-outline-secondary ml-3" href="/signout">登出</a>
  </div>
</nav>
<div class="container card-cantainer">
  <form action="/admin/products" method="POST">
    <div class="card my-3">
      <div class="card-body">
        <h4>基本資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label text-right">商品名稱</label>
            <div class="col-sm-7">
              <input type="text" name="name" class="form-control" id="name">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="slogan" class="col-sm-2 col-form-label text-right">商品標語</label>
            <div class="col-sm-7">
              <input type="text" name="slogan" class="form-control" id="slogan">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label text-right">商品內文</label>
            <div class="col-sm-7">
              <textarea class="form-control" name="description" id="description" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label text-right">商品分類</label>
            <div class="col-sm-7">
              <select class="form-control" name="category" id="category">
                {{#each categories}}
                  <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="tag" class="col-sm-2 col-form-label text-right">商品標籤</label>
            <div class="col-sm-7 d-flex align-items-center">
              {{#each tag}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="tag_{{this.id}}">
                  <label class="form-check-label">{{this.name}}</label>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>銷售資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label text-right">商品售價</label>
            <div class="col-sm-7">
              <input type="number" name="price" class="form-control" id="price">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="inventory" class="col-sm-2 col-form-label text-right">商品數量</label>
            <div class="col-sm-7">
              <input type="number" name="inventory" class="form-control" id="inventory">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="spec" class="col-sm-2 col-form-label text-right">商品規格</label>
            <div class="col-sm-7">
              <input type="text" name="spec" class="form-control" id="spec">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="releseDate" class="col-sm-2 col-form-label text-right">公開日期</label>
            <div class="col-sm-7">
              <input type="date" name="releseDate" class="form-control" id="releseDate">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="deadline" class="col-sm-2 col-form-label text-right">預購截止日期</label>
            <div class="col-sm-7">
              <input type="date" name="deadline" class="form-control" id="deadline">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="saleDate" class="col-sm-2 col-form-label text-right">發售日期</label>
            <div class="col-sm-7">
              <input type="date" name="saleDate" class="form-control" id="saleDate">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label text-right">商品是否上架</label>
            <div class="col-sm-7">
              <select class="form-control" name="status" id="status">
                <option value="1">是</option>
                <option value="0">否</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="mainImg" class="col-sm-2 col-form-label text-right">商品主圖片</label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" name="mainImg" id="mainImg">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="img01" class="col-sm-2 col-form-label text-right">商品其他圖片</label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" name="img01" id="img01">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="img02" class="col-sm-2 col-form-label text-right"> </label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" name="img02" id="img02">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="img03" class="col-sm-2 col-form-label text-right"> </label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" name="img03" id="img03">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="img04" class="col-sm-2 col-form-label text-right"> </label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" name="img04" id="img04">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>其他資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="series" class="col-sm-2 col-form-label text-right">隸屬作品</label>
            <div class="col-sm-7">
              <select class="form-control" name="series" id="series">
                {{#each series}}
                  <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="copyright" class="col-sm-2 col-form-label text-right">版權</label>
            <div class="col-sm-7">
              <input type="text" name="copyright" class="form-control" id="copyright">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="maker" class="col-sm-2 col-form-label text-right">廠商</label>
            <div class="col-sm-7">
              <input type="text" name="maker" class="form-control" id="maker">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button class="btn btn-primary" type="submit">新增商品</button>
      </br>
      </br>
    </div>
  </form>
</div>