<main class="container">
  <div class="card-body pt-4">
    <form action="products/search" method="GET" class="mb-3 col-2 float-right pr-0">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="search" value="{{searchQuery}}">
      </div>
    </form>
    <table class="table table-hover" id="table">
      <thead>
        <tr>
          <th data-valign="middle" class="text-center" data-sortable="true">#</th>
          <th data-valign="middle" class="text-center">商品照片</th>
          <th data-valign="middle" class="text-center" data-sortable="true" data-width="150">名稱</th>
          <th data-valign="middle" class="text-center" data-sortable="true">售價</th>
          <th data-valign="middle" class="text-center" data-sortable="true">庫存</th>
          <th data-valign="middle" class="text-center" data-sortable="true">模型分類</th>
          <th data-valign="middle" class="text-center" data-sortable="true">作品分類</th>
          <th data-valign="middle" class="text-center" data-sortable="true">發售狀態</th>
          <th data-valign="middle" class="text-center" data-sortable="true">上架狀態</th>
          <th data-valign="middle" class="text-center">商品操作</th>
        </tr>
      </thead>
      <tbody>
        {{#each getProducts}}
          <tr>
            <td class="text-center">{{this.id}}</td>
            <td class="text-center">
              <a href="/admin/products/{{this.id}}/preview" target="_blank" class="text-decoration-none text-dark d-block">
                <img src="{{this.mainImg}}" title="{{this.name}}" class="rounded mx-auto d-block" alt="productImage"
                  style="height:50px">
              </a>
            </td>
            <td class="text-center product-name">
              <a href="/admin/products/{{this.id}}/preview" target="_blank" class="text-decoration-none text-dark d-block">
                {{this.name}}
              </a>
            </td>
            <td class="text-center">{{this.price}}</td>
            <td class="text-center">{{this.inventory}}</td>
            <td class="text-center">{{this.Category.name}}</td>
            <td class="text-center">{{this.Series.name}}</td>
            <td class="text-center">{{this.saleStatus}}</td>
            <td class="text-center">
              {{#if this.status}}
                <p hidden>1</p>
                {{!-- 排序用 --}}
                <form action="/admin/products/{{this.id}}/undisplay" method="POST">
                  <input type="text" name="id" hidden>
                  <button type="submit" class="btn" title="將此商品下架"><i class="far fa-circle text-success"></i></button>
                </form>
              {{else}}
                <p hidden>0</p>
                {{!-- 排序用 --}}
                <form action="/admin/products/{{this.id}}/display" method="POST">
                  <input type="text" name="id" hidden>
                  <button type="submit" class="btn" title="將此商品上架"><i class="fas fa-times text-danger"></i>
                  </button>
                </form>
              {{/if}}
            </td>
            <td class="text-center">
              <button type="button" class="btn font-weight-normal">
                <a href="/admin/products/{{this.id}}/edit" class="text-decoration-none text-dark "><i
                    class="fas fa-edit" title="編輯此商品"></i></a>
              </button>
              <!-- Detail Button trigger modal -->
              <button type="button" class="btn font-weight-normal" data-toggle="modal"
                data-target=".detailModal{{this.id}}"><i class="fas fa-search-plus" title="商品詳情"></i></button>
              <!-- Delete Button trigger modal -->
              <button type="button" class="btn font-weight-normal" data-toggle="modal" data-target="#delete_{{this.id}}"
                title="刪除此商品">
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          {{!-- Delete modal --}}
          <div class="modal fade" id="delete_{{this.id}}" tabindex="-1" role="dialog"
            aria-labelledby="delete_{{this.id}}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delete_{{this.id}}Label">刪除確認</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5 class="modal-title ml-3" id="ModalScrollable{{this.id}}Title">
                    {{this.name}}</h5>
                  </br>
                  <h5 class="text-danger text-right">你真的要刪除這項商品嗎？</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                  <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-outline-danger font-weight-normal">確認刪除
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{!--detail product modal --}}
          <div class="modal fade detailModal{{this.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">商品詳細</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4>#{{this.id}} {{this.name}}</h4>
                  <hr>
                  <div class="row">
                    <div class="col-12">
                      <p>商品標語： {{this.slogan}}</p>
                      <p>商品內文：{{this.description}}</p>
                    </div>
                    <div class="col-6">
                      {{#if this.status}}
                        <p>狀態： 上架中</p>
                      {{else}}
                        <p>狀態： 未上架</p>
                      {{/if}}
                      <p>售價： {{this.price}}</p>
                      <p>庫存： {{this.inventory}}</p>
                      <p>廠商： {{this.maker}}</p>
                      <p>版權： {{this.copyright}}</p>
                      <p>規格： {{this.spec}}</p>
                      <p>
                        <span>特典：
                          {{#if this.Gifts}}
                            {{#each this.Gifts}}
                              {{this.name}}
                            {{/each}}
                          {{else}}
                            無
                          {{/if}}
                        </span>
                      </p>
                    </div>
                    <div class="col-6 ">
                      <p>分類： {{this.Category.name}}</p>
                      <p>作品別： {{this.Series.name}}</p>
                      <p>
                        <span>標籤：</span>
                        {{#each this.tags}}
                          <span>#{{this.name}}</span>
                        {{/each}}
                      </p>
                      <p>公開日期： {{this.release}}</p>
                      <p>預購截止： {{this.dead}}</p>
                      <p>發售日期： {{this.sale}}</p>
                    </div>
                  </div>
                  <hr>
                  <div>
                    <p class="md-2">商品圖片：</p>
                    <div class="row">
                      <div class="col-2 text-center">
                        <img src="{{this.mainImg}}" class="rounded mx-1 mb-2 border border-primary" alt="productImage"
                          style="height:100px">
                        <p>主圖片</p>
                      </div>
                      <div class="col-10">
                        {{#each this.secondImg}}
                          <img src="{{this.url}}" class="rounded mx-1 mb-2" alt="productImage" style="height:100px">
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn font-weight-normal">
                    <a href="/admin/products/{{this.id}}/edit" class="btn btn-primary">編輯此商品</a>
                  </button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{!-- 分頁 --}}
  <div class="float-right pr-4">
    {{>pagination}}
  </div>
</main>