<main class="container">
  <div class="card-body pt-4">
    <div class="row col-12">
      <div class="col-6 mx-auto">
        <div class="alertBlock mb-2">
          {{> alert}}
        </div>
        <form class="form-inline d-flex justify-content-end" action="/admin/series" method="POST">
          <div class="form-group mx-sm-3 mb-2 mt-1">
            <input type="text" class="form-control" name="name" placeholder="輸入新作品別..." required>
          </div>
          <button type="submit" class="btn btn-primary mb-2 mt-1">新增作品別</button>
        </form>
        <div class="accordion mb-5" id="accordionEdit">
          <table data-toggle="table" id="table">
            <thead>
              <tr>
                <th data-valign="middle" class="text-center" data-sortable="true" data-width="30">#</th>
                <th data-valign="middle" class="text-center" data-sortable="true" data-width="200">作品別名稱</th>
                <th data-valign="middle" class="text-center" data-width="150">作品別操作</th>
              </tr>
            </thead>
            <tbody>
              {{#each series}}
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.name}}</td>
                  <td>
                    <button class="text-decoration-none btn btn-outline-dark mx-1" type="button" data-toggle="collapse"
                      data-target="#collapse_{{this.id}}">
                      <i class="fas fa-edit" title="編輯作品別資料"></i>
                    </button>
                    <!-- Delete Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark font-weight-normal mx-1" data-toggle="modal"
                      data-target="#delete_{{this.id}}" title="刪除此作品別">
                      <i class="far fa-trash-alt" aria-hidden="true"></i>
                    </button>
                  </td>
                  {{!-- Delete modal --}}
                  <div class="modal fade" id="delete_{{this.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="delete_{{this.id}}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="delete_{{this.id}}Label">刪除確認</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h5 class="modal-title ml-3" id="ModalScrollable{{this.id}}Title">
                            {{this.name}}</h5>
                          </br>
                          <h5 class="text-danger text-right">你真的要刪除這則作品別嗎？</h5>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                          <form action="/admin/series/{{this.id}}?_method=DELETE" method="POST"
                            style="display: inline;">
                            <button type="submit" class="btn btn-outline-danger font-weight-normal">確認刪除
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                {{!-- 更新用收合表單 --}}
                <tr>
                  <td class="p-0 text-center">
                    <div class="collapse" id="collapse_{{this.id}}" data-parent="#accordionEdit">
                      <i class="fas fa-pen"></i>
                    </div>
                  </td>
                  <td class="p-0">
                    <div class="collapse" id="collapse_{{this.id}}" data-parent="#accordionEdit">
                      <form class="" action="/admin/series/{{this.id}}?_method=PUT" method="POST"
                        id="edit_{{this.id}}">
                        <div class="form-group mx-sm-3 mb-2 mt-1">
                          <input type="text" class="form-control" name="name" placeholder="輸入作品別名稱..."
                            value={{this.name}} required>
                        </div>
                      </form>
                    </div>
                  </td>
                  <td class="p-0">
                    <div class="collapse text-center" id="collapse_{{this.id}}" data-parent="#accordionEdit">
                      <button type="submit" class="btn btn-outline-dark mb-2 mt-1 px-4" form="edit_{{this.id}}">
                        <i class="fas fa-level-down-alt fa-rotate-90"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>