<main class="container">
  <div class="card-body pt-4">
    <table data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true" id="table">
      <thead>
        <tr>
          <th data-valign="middle" class="text-center" data-sortable="true">#</th>
          <th data-valign="middle" class="text-center" data-sortable="true">名稱</th>
          <th data-valign="middle" class="text-center" data-sortable="true" data-width="150">email</th>
          <th data-valign="middle" class="text-center" data-sortable="true">生日</th>
          <th data-valign="middle" class="text-center" data-sortable="true">性別</th>
          <th data-valign="middle" class="text-center" data-sortable="true">訂單數量</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.modifybirthday}}</td>
            <td>
              {{#ifEqual this.gender 'M'}}<i class="fas fa-mars text-primary"></i>{{/ifEqual}}
              {{#ifEqual this.gender 'F'}}<i class="fas fa-venus text-danger"></i>{{/ifEqual}}
            </td>
            <td>
              {{#if this.orderCount}}
                {{this.orderCount}}
              {{else}}
                -
              {{/if}}
            </td>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>