<header id="navbar" class="navbar navbar-light p-0">
  <div class="top-bar">
    <div class="container py-3">
      <a href="/" class="navbar-brand">LOGO</a>
      <div>
        {{#if user}}
          <a href="/users/signout" class="signout-href text-decoration-none align-top mr-2"><i class="fas fa-sign-out-alt"></i> 登出</a>
          <a href="/users/profile" class="btn btn-primary mr-2 btn-top-bar" style="line-height: 1.5rem;">
            <span class="userpage-item">歡迎 {{user.nickname}}</span>
            </br>
            <span class="userpage-item userpage-link">我的帳戶</span>
          </a>
        {{else}}
          <a class="btn btn-primary mr-2 btn-top-bar" href="/users/signin">登入·註冊</a>
        {{/if}}
        <a class="btn btn-primary btn-top-bar pl-4" href="/cart">
          購物車
          <i class="fa fa-shopping-cart fa mt-1"></i>
          <span class="badge badge-danger">{{itemSum}}</span>
        </a>
      </div>
    </div>
  </div>
  <nav class="category-bar">
    <div class="container">
      <ul class="nav mx-auto">
        <li class="nav-item px-3">
          <a class="nav-link py-4 {{#if isAllProducts}}active{{/if}}" href="/products">製品一覽</a>
        </li>
        {{#each categoryBar}}
          <li class="nav-item px-3">
            <a class="nav-link py-4 {{#ifEqual ../categoryQuery this.id}}active{{/ifEqual}}"
              href="/products?category={{this.id}}">{{this.name}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <div class="search-bar">
    <div class="py-2 container">
      <div class="w-50 mx-auto">
        <form action="/search" method="GET">
          <div class="input-group">
            <input type="text" name="q" class="form-control search-input" placeholder="搜尋商品" value="{{searchQuery}}">
            <div class="input-group-append">
              <button class="btn btn-orange">
                <i class="fas fa-search px-2"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
{{!-- sticky --}}
<nav id="stickybar" class="navbar navbar-light p-0" style="display: none;">
  <div class="category-bar">
    <div class="container">
      <ul class="nav mx-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link py-3 {{#if isAllProducts}}active{{/if}}" href="/products">製品一覽</a>
        </li>
        {{#each categoryBar}}
        <li class="nav-item">
          <a class="nav-link py-3 {{#ifEqual ../categoryQuery this.name}}active{{/ifEqual}}"
            href="/products?category={{this.name}}">{{this.name}}</a>
        </li>
        {{/each}}
        <li class="nav-item">
          <form class="px-3" action="/search" method="GET">
            <div class="input-group">
              <input type="text" name="q" class="form-control search-input" placeholder="搜尋商品" value="{{searchQuery}}">
              <div class="input-group-append">
                <button class="btn btn-orange">
                  <i class="fas fa-search px-2"></i>
                </button>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>