<section class="col-md-6 mb-2 py-3 px-1">
  <div class="row panel mx-1">
    <div class="panel-heading col-md-12">
      <div class="mt-3">初次使用的客戶</div>
    </div>
    <div class="col-md-12 px-5 mb-1 signCard">
      <div class="col-md-12 pt-4 px-0 mb-2">
        <div class="col-12 px-0">
          {{> signUpAlert}}
        </div>
        <h6>註冊新會員</h6>
        <div class="row pl-0">
          <p class="description pr-2 col-12">註冊後可管理地址與各種設定，並確認訂單履歷。</p>
        </div>
      </div>
      <form class="row needs-validation" action="/users/signup" method="POST" novalidate>
        <input type="text" name="from" value={{path}} hidden>
        <div class="form-group col-6 pr-1">
          <input type="text" class="form-control" name="lastName" placeholder="姓氏*"
            {{#if input.lastName}}value={{input.lastName}} {{/if}} required>
          <div class="invalid-feedback">
            尚未填寫姓氏
          </div>
        </div>
        <div class="form-group col-6 pl-1">
          <input type="text" class="form-control" name="firstName" placeholder="名字*"
            {{#if input.firstName}}value={{input.firstName}} {{/if}} required>
          <div class="invalid-feedback">
            尚未填寫名字
          </div>
        </div>
        <div class="form-group col-12">
          <input type="email" class="form-control" name="email" placeholder="電子郵件地址*"
            {{#if input.email}}value={{input.email}} {{/if}} required>
          <div class="invalid-feedback">
            Email格式不正確
          </div>
        </div>
        <div class="form-group col-6 pr-1">
          <input type="password" class="form-control" name="password" placeholder="密碼*"
            {{#if input.password}}value={{input.password}} {{/if}} required>
          <small class="form-text text-muted">最短長度 6 個字元</small>
          <div class="invalid-feedback">
            密碼長度不得小於6個字元
          </div>
        </div>
        <div class="form-group col-6 pl-1">
          <input type="password" class="form-control" name="passwordCheck" placeholder="確認密碼*"
            {{#if input.passwordCheck}}value={{input.passwordCheck}} {{/if}} required>
        </div>
        <div class="col-12">
          <p class="description mb-1">性別*</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="M" required>
            <label class="form-check-label" for="inlineRadio1">男性</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="F">
            <label class="form-check-label" for="inlineRadio2">女性</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="N">
            <label class="form-check-label" for="inlineRadio3">其他</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" hidden>
          </div>
        </div>
        <div class="col-6 mt-2">
          <p class="description mb-1">生日*</p>
          <input type="date" class="form-control" name="birthday" {{#if input.birthday}}value={{input.birthday}} {{/if}}
            required>
          <div class="invalid-feedback">
            尚未選擇生日
          </div>
          <small class="form-text text-danger">※性別與生日在註冊後將無法變更。</small>
        </div>
        <br>
        <div class="col-12 text-center my-3">
          <button type="submit" class="btn sign-btn">註冊</button>
        </div>
      </form>
    </div>
  </div>
</section>