<body>

  <body style="margin: 0; padding: 0; ">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td align="center">
          <img
            src="https://lh3.googleusercontent.com/UodUEcaWPGmH8_J0ktqMGmvo4GttZzFdZy-ja7Jtv3HHlrcHP5RDsdzJyGksAyd3ihtGsPKykoC_BKLsLRhLhIPAH58hH7sJJl5fvDi-7WjtyhVgoOSvQVop7rhsnE5G0GKzIBbawto=w800"
            height="230" style="display: block;" />
        </td>
      </tr>
      <tr style="background-color: #ff9604;">
        <td style="padding: 0px 30px 10px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td>
                <h3 style="color: #ffffff;">嗨，{{user.name}}!
                  <br>
                  感謝你的訂購！
                </h3>
                <p style="color: #ffffff;">您的訂單({{sn}})已成立，我們將於收到款項後的三個工作天內為您出貨，您也可隨時前往個人專頁進行本次的訂單查詢。</p>
                <a href="https://greatsmile.herokuapp.com/users/profile"><button
                    style="background-color: #ff5400;border: 1px solid #ff9600;color: #ffffff;border-radius: 4px;width: 6rem;height: 2rem;line-height: 0.5rem;">個人專頁</button></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ebebeb;">
      <tr>
        <td style="padding: 0px 30px 40px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="padding: 20px 20px 30px 20px;">
                <h3 style="color: #ff5400;">訂單資訊</h3>
                <hr style="border-color: #ff5400;">
                <table>
                  <tr>
                    <td>
                      <p style="font-weight:bold;">收件人：</p>
                    </td>
                    <td>
                      <p>{{data.receiver}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="font-weight:bold;">收件地址：</p>
                    </td>
                    <td>
                      <p>{{data.address}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="font-weight:bold;">聯絡電話：</p>
                    </td>
                    <td>
                      <p>{{data.phone}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="font-weight:bold;">寄送方式：</p>
                    </td>
                    <td>
                      <p>{{data.deliveryMethod}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="font-weight:bold;">付款方式：</p>
                    </td>
                    <td>
                      <p>{{data.payMethod}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="font-weight:bold;">付款金額：</p>
                    </td>
                    <td>
                      <p>{{data.amount}} NTD</p>
                    </td>
                  </tr>
                </table>
                <hr style="border-color: #ff5400;">
              </td>
            </tr>
      </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ebebeb;">
      <tr>
        <td style="padding: 0px 30px 40px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="padding: 0px 20px 30px 20px;">
                <h3 style="color: #ff5400;">出貨資訊</h3>
                <hr style="border-color: #ff5400;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 10px 10px 10px 10px;">
                      <h6> </h6>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;">
                      <h6>名稱</h6>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;">
                      <h6>售價</h6>
                    </td>
                    <td style="padding: 10px 0px 10px 0px;text-align: center;">
                      <h6>數量</h6>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;text-align: end;">
                      <h6>小計</h6>
                    </td>
                  </tr>
                  {{#each data.cart.products}}
                    <tr>
                      <td style="padding: 10px 10px 10px 10px;">
                        {{#each this.Images}}
                          <img src="{{this.url}}" height="100" style="display: block; border-radius:0.5em" />
                        {{/each}}
                      </td>
                      <td style="padding: 10px 10px 10px 10px;">
                        <p>{{this.name}}</p>
                      </td>
                      <td style="padding: 10px 10px 10px 10px;">
                        <p>{{this.price}}</p>
                      </td>
                      <td style="padding: 10px 10px 10px 10px;text-align: center;">
                        <p>{{this.quantity}}</p>
                      </td>
                      <td style="padding: 10px 10px 10px 10px;text-align: end;">
                        <p>{{this.amount}}</p>
                      </td>
                    </tr>
                  {{/each}}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <h6>運費</h6>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;text-align: end;">
                      <p>{{data.shipping}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <h6>總價</h6>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;text-align: end;">
                      <p>{{data.amount}}</p>
                    </td>
                  </tr>
                </table>
                <hr style="border-color: #ff5400;">
                <small style="padding: 10px 10px 10px 10px;text-align: end;">＊本信件為系統自動發送，請勿回信</small>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
      <tr style="background-color: #ff9604;">
        <td style="padding: 0px 30px 0px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="text-align: center;">
                <h3 style="color: #ffffff;">© 2019 最終溫蒂蕃茄堡</h3>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>