<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>GreatSmile Online Shop</title>
</head>

<body style="margin: 0; padding: 0; ">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr style="height: 3rem;"> </tr>
    <tr>
      <td align="center">
        <img
          src="https://lh3.googleusercontent.com/75jdEFCl5zdi7UW1NvNo0LwlQ9VKsJgJczNpml6hlKoQKyTR7nlr4OSE_ZvEEUyEvaM9Qa_e4axTp27tNBqhjmLsHo1EZdqf7LSws1446W-bBXia2Hoqd3EieDAFGc2v13JUoo_-LQE=w2400"
          height="30" style="display: block;" />
      </td>
    </tr>
    <tr style="height: 3rem;"> </tr>
    <tr style="background-color: #ff9604;">
      <td style="padding: 0px 30px 10px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td>
              <h3 style="color: #ffffff;">嗨，{{user.name}}!
                <br>
                感謝你的訂購！
              </h3>
              <p style="color: #ffffff;">您的訂單({{sn}})已成立。</p>
              <p style="color: #ffffff;">登入後，可透過「個人專頁」按鈕查詢訂單。</p>

              <a href="https://greatsmile.herokuapp.com/users/profile"><button
                  style="background-color: #ff5400;border: 1px solid #ff9600;color: #ffffff;border-radius: 4px;width: 6rem;height: 2rem;line-height: 0.5rem;">個人專頁</button></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ebebeb;">
    <tr>
      <td style="padding: 0px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="padding: 20px 20px 30px 20px;">
              <h3 style="color: #ff5400;">訂單資訊</h3>
              <hr style="border-color: #ff5400;">
              <table>
                <tr>
                  <td>
                    <p style="font-weight:bold;">收件人：</p>
                  </td>
                  <td>
                    <p>{{data.receiver}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:bold;">收件地址：</p>
                  </td>
                  <td>
                    <p>{{data.address}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:bold;">聯絡電話：</p>
                  </td>
                  <td>
                    <p>{{data.phone}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:bold;">寄送方式：</p>
                  </td>
                  <td>
                    <p>{{data.deliveryMethod}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:bold;">付款方式：</p>
                  </td>
                  <td>
                    <p>{{data.payMethod}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:bold;">付款期限：</p>
                  </td>
                  <td>
                    <p>{{paymentTerms}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:bold;">付款金額：</p>
                  </td>
                  <td>
                    <p>{{addDot data.amount}} NTD</p>
                  </td>
                </tr>
              </table>
              <hr style="border-color: #ff5400;">
            </td>
          </tr>
    </tr>
  </table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ebebeb;">
    <tr>
      <td style="padding: 0px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="padding: 0px 20px 30px 20px;">
              <h3 style="color: #ff5400;">出貨資訊</h3>
              <hr style="border-color: #ff5400;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="padding: 10px 10px 10px 10px;">
                    <h6> </h6>
                  </td>
                  <td style="padding: 10px 10px 10px 10px;">
                    <h6>名稱</h6>
                  </td>
                  <td style="padding: 10px 10px 10px 10px;">
                    <h6>售價</h6>
                  </td>
                  <td style="padding: 10px 0px 10px 0px;text-align: center;">
                    <h6>數量</h6>
                  </td>
                  <td style="padding: 10px 10px 10px 10px;text-align: end;">
                    <h6>小計</h6>
                  </td>
                </tr>
                {{#each data.cart.products}}
                  <tr>
                    <td style="padding: 10px 10px 10px 10px;">
                      {{#each this.Images}}
                        <img src="{{this.url}}" height="100" style="display: block; border-radius:0.5em" />
                      {{/each}}
                    </td>
                    <td style="padding: 10px 10px 10px 10px;">
                      <p>{{this.name}} {{#if this.Gifts}}【附特典】{{/if}}</p>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;">
                      <p>{{addDot this.price}}</p>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;text-align: center;">
                      <p>{{this.quantity}}</p>
                    </td>
                    <td style="padding: 10px 10px 10px 10px;text-align: end;">
                      <p>{{addDot this.amount}}</p>
                    </td>
                  </tr>
                {{/each}}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <h6>運費</h6>
                  </td>
                  <td style="padding: 10px 10px 10px 10px;text-align: end;">
                    <p>{{addDot data.shipping}}</p>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <h6>總價</h6>
                  </td>
                  <td style="padding: 10px 10px 10px 10px;text-align: end;">
                    <p>{{addDot data.amount}}</p>
                  </td>
                </tr>
              </table>
              <hr style="border-color: #ff5400;">
              <small style="padding: 10px 10px 10px 10px;text-align: end;">＊本信件為系統自動發送，請勿回信</small>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr style="background-color: #ff9604;">
      <td style="padding: 0px 30px 0px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="text-align: center;">
              <h3 style="color: #ffffff;">© 2019 最終溫蒂蕃茄堡</h3>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>


</html>