<main class="container pt-2 pb-5">
  <div class="row">
    {{!-- 購物車資訊區 --}}
    <section class="col-md-9 mb-5 p-3">
      <div class="row panel mx-1">
        <div class="panel-heading col-md-12">
          <div>購物車</div>
        </div>
        {{!-- 商品內容 --}}
        <div class="panel-body col-md-12 py-3">
          {{#if cartProducts.length}}
          <div class="cart-product">
            {{!-- 標題 --}}
            <div class="row">
              <div class="col-md-7 item-title">商品{{cartProducts.length}}</div>
              <div class="col-md-5 item-title">
                <div class="d-flex justify-content-between align-items-center">
                  <span>商品價格</span>
                  <span>數量</span>
                  <span>合計價格</span>
                </div>
              </div>
            </div>
            <hr>
            {{!-- 內文 --}}
            {{#each cartProducts}}
              <div class="row">
                <div class="col-md-7 d-flex align-items-start">
                  <div>
                    <a href="/products/{{this.id}}" class="product-img">
                      <img src="{{this.mainImg}}" class="img-fit">
                    </a>
                  </div>
                  <div class="font-format pl-3">
                    <div class="product-name pb-2">{{this.name}}</div>
                    <div>
                      {{#if isPreorder}}
                        <span class="product-tag tag-preorder">預購中</span>
                      {{else}}
                        <span class="product-tag tag-preorder">發售中</span>
                      {{/if}}
              
                      {{#if isGift}}
                        <span class="product-tag tag-gift">特典</span>
                      {{/if}}
              
                    </div>
                    <form action="/cartItem/{{this.CartItem.id}}/delete" method="POST" class="product-btn pt-1">刪除</form>
                  </div>
                </div>
                <div class="col-md-5 font-format">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>NTD {{this.priceFormat}}</span>
                    <span>
                      <div class="d-flex align-items-center item-quantity">
                        {{#if this.isCheck2}}
                          <form action="/cartItem/{{this.CartItem.id}}/sub" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
                          </form>
                        {{else}}
                            <button class="btn btn-sm btn-outline-secondary btn-unavailable disabled">-</button>
                        {{/if}}
                        <span class="px-3">
                          {{this.CartItem.quantity}}
                        </span>
                        {{#if this.isCheck1}}
                          <form action="/cartItem/{{this.CartItem.id}}/add" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
                          </form>
                        {{else}}
                          <button class="btn btn-sm btn-outline-secondary btn-unavailable disabled">+</button>
                        {{/if}}
                      </div>
                    </span>
                    <span>NTD {{this.subPriceFormat}}</span>
                  </div>
                </div>
              </div>
              <hr>
            {{/each}}
          </div>
          
          {{!-- 總計區塊 --}}
          <div class="cart-amount">
            <div class="row">
              <div class="col-md-7 font-format">
                <div>購物車 ID : {{cart.id}}</div>
              </div>
              <div class="col-md-5 font-format">
                <div class="d-flex justify-content-between align-items-center">
                  <span>小計</span>
                  <span>NTD {{totalPriceFormat}}</span>
                </div>
                <hr class="my-3">
                <div class="d-flex justify-content-between align-items-center font-format-bold">
                  <span>合計</span>
                  <span>NTD {{totalPriceFormat}}</span>
                </div>
                <hr class="mt-3">
                <div class="btn-group d-flex justify-content-between align-items-center">
                  <div class="continue-btn">
                    <a href="/products" class="cart-btn btn px-4">繼續購物</a>
                  </div>
                  <div class="checkout-btn">
                    <a href="#" class="cart-btn btn px-4">
                      <i class="fas fa-cart-arrow-down"></i>
                      <span>　前往結帳</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else}}
            <div>
              <p class="text-center mb-0">購物車無商品</p>
              <p class="text-center">選擇上方類型以瀏覽商品</p>
            </div>
          {{/if}}
        </div>
      </div>
    </section>

    {{!-- 結帳金額區 --}}
    <section class="col-md-3 mb-5 p-3">
      <div class="row panel mx-1 font-format" >
        <div class="panel-body w-100 p-3">
          <div class="checkout pb-1">
            <a href="#" class="cart-btn btn w-100">
              <i class="fas fa-cart-arrow-down"></i>
              <span>　前往結帳</span>
            </a>
          </div>
          <hr class="my-2">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span>小計</span>
            <span>NTD {{totalPriceFormat}}</span>
          </div>
          <hr class="my-2">
          <div class="d-flex justify-content-between align-items-center font-format-bold">
            <span>合計</span>
            <span>NTD {{totalPriceFormat}}</span>
          </div>
          <hr class="mt-2">
        </div>
      </div>
    </section>
  </div>
</main>