<div class="container py-5">
  <div class="row mb-5">
    {{!-- 主內容 --}}
    <main class="col-8" role="main">
      <div class="panel">
        {{> checkout/step}}
        {{!-- 內容表單 --}}
        <form action="/orders" method="POST">
          {{!-- 送貨地址 --}}
          <section class="row m-0 p-4 border-bottom">
            <div class="col-4">
              <h6 class="mb-4 font-weight-bold">送貨地址</h6>
              <a href="/orders/checkout_1" class="btn btn-edit">編輯</a>
            </div>
            <div class="col-8 summary-content">
              <ul>
                <li>{{data.receiver.[0]}} {{data.receiver.[1]}}</li>
                <li>{{data.address.[0]}}</li>
                <li>{{data.address.[1]}}</li>
                <li>{{data.address.[2]}}</li>
                <li>{{data.address.[3]}}</li>
                <li>{{data.address.[4]}}</li>
                <li>{{data.phone}}</li>
              </ul>
            </div>
          </section>
          {{!-- 寄件方法 --}}
          <section class="row m-0 p-4 border-bottom">
            <div class="col-4">
              <h6 class="mb-4 font-weight-bold">寄件方法</h6>
              <a href="/orders/checkout_2" class="btn btn-edit">編輯</a>
            </div>
            <div class="col-8 summary-content">
              <ul>
                <li>{{data.deliveryMethod}} - NTD {{addDot data.shipping}}</li>
              </ul>
            </div>
          </section>
          {{!-- 付款詳細資訊 --}}
          <section class="row m-0 p-4">
            <div class="col-4">
              <h6 class="mb-4 font-weight-bold">付款詳細資料</h6>
              <a href="/orders/checkout_3" class="btn btn-edit">編輯</a>
            </div>
            <div class="col-8 summary-content">
              <ul>
                <li>{{data.payMethod}}</li>
                <li class="my-3 font-weight-bold">帳單地址: (未實裝，現同收件地址)</li>
                <li>{{data.receiver.[0]}} {{data.receiver.[1]}}</li>
                <li>{{data.address.[0]}}</li>
                <li>{{data.address.[1]}}</li>
                <li>{{data.address.[2]}}</li>
                <li>{{data.address.[3]}}</li>
                <li>{{data.address.[4]}}</li>
                <li>{{data.phone}}</li>
              </ul>
            </div>
          </section>
          <div class="col-8 p-4 ml-auto">
            <button class="btn order-btn">
              <i class="fas fa-check"></i>
              <span>確定結帳</span>
            </button>
          </div>
        </form>
      </div>
    </main>
    {{!-- 側邊攔 --}}
    <aside class="col-4">
      <section class="panel mb-4">
        <div class="p-3">
          <form action="/orders" method="POST">
            <button class="btn order-btn-lg w-100">
              <i class="fas fa-check"></i>
              <span>確定結帳</span>
            </button>
          </form>
        </div>
      </section>
      {{> checkout/amount}}
      {{> checkout/products}}
    </aside>
  </div>
</div>