<main class="container py-5">
  <div class="row mb-5">
    {{!-- 主卡片 --}}
    <section class="col-9">
      <div class="row panel mx-1">
        <div class="panel-heading col-md-12">
          <div class="mt-3">訂購紀錄</div>
        </div>
        <table class="table table-sm mt-4 mb-0 mx-4">
          <thead>
            <tr>
              <th scope="col" class="accordion-thead">訂單序號</th>
              <th scope="col" class="accordion-thead">成立日期</th>
              <th scope="col" class="accordion-thead">總金額</th>
            </tr>
          </thead>
        </table>
        {{#if orders}}
          <div id="accordion" class="mb-4 mx-4 w-100">
            {{#each orders}}
              <div class="card mt-2 w-100">
                <div class="card-header order-card" class="btn btn-link btn-block" data-toggle="collapse"
                  data-target="#collapseOne_{{this.id}}">
                  <table class="col-12">
                    <tbody>
                      <tr>
                        <td class="accordion-thead">
                          <span>{{this.sn}}</span>
                          {{#unless this.payStatus}}
                            <small class="text-danger font-weight-bold d-block">(未付款)</small>
                          {{/unless}}
                        </td>
                        <td class="accordion-thead">{{this.createdTime}}</td>
                        <td class="accordion-thead">NTD {{addDot this.amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div id="collapseOne_{{this.id}}" class="collapse" aria-labelledby="headingOne"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="order-info mx-auto">
                      <tbody>
                        <tr>
                          <td class="accordion-title">收件人</td>
                          <td class="accordion-data">{{this.receiver}}</td>
                        </tr>
                        <tr>
                          <td class="accordion-title">聯絡電話</td>
                          <td class="accordion-data">{{this.phone}}</td>
                        </tr>
                        <tr>
                          <td class="accordion-title">收件地址</td>
                          <td class="accordion-data">
                            <span>{{this.orderAddress.[0]}}</span>
                            <span>{{this.orderAddress.[1]}}</span>
                            <span>{{this.orderAddress.[2]}}</span>
                            <span>{{this.orderAddress.[3]}}</span>
                            <span>{{this.orderAddress.[4]}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="accordion-title">付款方式</td>
                          <td class="accordion-data">{{this.payMethod}}</td>
                        </tr>
                        <tr>
                          <td class="accordion-title">付款狀態</td>
                          <td class="accordion-data">
                            {{#if this.payStatus}}
                              <span class="text-success font-weight-bold">已付款</span>
                            {{else}}
                              <span class="mr-3 text-danger font-weight-bold">未付款</span>
                              <a href="/orders/{{this.id}}/payment" class="btn cart-btn">立即付款</a>
                            {{/if}}
                          </td>
                        </tr>
                        <tr>
                          <td class="accordion-title">出貨狀態</td>
                          <td class="accordion-data">
                            {{#if this.shipStatus}}
                              已出貨
                            {{else}}
                              未出貨
                            {{/if}}
                          </td>
                        </tr>
                        <tr>
                          <td class="accordion-title">寄件方式</td>
                          <td class="accordion-data">{{this.Delivery.method}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <hr>
                    <table class="mx-auto order-info">
                      <tbody>
                        {{#each this.products}}
                          <tr class="mb-2">
                            <td class="cell-img">
                              <a href="/products/{{this.id}}" class="product-img">
                                <img src="{{this.mainImg}}" class="rounded mx-2 float-right my-1" alt="productImage">
                              </a>
                            </td>
                            <td class="cell-name">
                              <a href="/products/{{this.id}}" class="text-body text-decoration-none">
                                <div class="text-left ml-2">
                                  {{this.name}}
                                  {{#if this.Gifts}}
                                    <label title="含特典"><i class="fas fa-gift"></i></label>
                                  {{/if}}
                                </div>
                              </a>
                            </td>
                            <td class="cell-quantity">
                              <div class="text-right">x {{this.OrderItem.quantity}}</div>
                            </td>
                            <td class="cell-price">
                              <div class="text-right">NTD {{addDot this.OrderItem.price}} =</div>
                            </td>
                            <td class="cell-subPrice">
                              <div class="text-right">{{addDot this.subPrice}}</div>
                            </td>
                          </tr>
                        {{/each}}
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="cell-price">
                            <div class="text-right">小計</div>
                          </td>
                          <td class="cell-subPrice">
                            <div class="text-right">{{addDot this.sumPrice}}</div>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="cell-price">
                            <div class="text-right">運費</div>
                          </td>
                          <td class="cell-subPrice">
                            <div class="text-right">{{addDot this.Delivery.price}}</div>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="cell-price">
                            <div class="text-right">總金額</div>
                          </td>
                          <td class="cell-subPrice">
                            <div class="text-right">{{addDot this.amount}}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="col-12 my-3">
            <div class="text-center">
              <p class="mb-3">你還沒有訂購記錄喔!</p>
              <p>- Tip -</p>
              <p>完成結帳以增加訂購紀錄</p>
            </div>
          </div>
        {{/if}}
      </div>
      <br>
    </section>
    {{!-- 側邊欄 --}}
    <section class="col-3">
      <div class="row panel mx-1 side-box-shadow">
        <div class="panel-body w-100 p-3">
          <div>
            <div class="side-heading col-md-12">
              <div><i class="fas fa-user mr-2"></i> 帳戶</div>
            </div>
          </div>
          <hr class="my-2">
          <div>
            <a href="/users/profile" class="font-weight-bold ml-2 text-decoration-none profile-href">我的帳戶</a>
            <ul class="side-item-list">
              <li>更新設定檔案</li>
              <li>密碼變更</li>
              <li>通訊地址管理</li>
              <li>
                <a href="/orders" class="text-decoration-none font-weight-bold text-pick">訂購紀錄</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>