<div class="container pt-2 pb-5">
  <div class="row">
    <main class="col-md-12">
      {{!-- 麵包屑 --}}
      <nav class="bread mb-3">
        <a href="/">Home </a>&gt;
        <span>{{bread}}</span>
      </nav>
      {{!-- tag + select --}}
      <div class="row d-flex justify-content-between px-2">
        <div class="d-flex align-items-start">
          <ul class="nav-tag">
            <li class="d-inline">
              <a class="btn btn-sm {{#ifEqual tagQuery 'all'}}active{{/ifEqual}}" data-tag="all">所有商品</a>
            </li>
            <li class="d-inline">
              <a class="btn btn-sm {{#ifEqual tagQuery 'gift'}}active{{/ifEqual}}" data-tag="gift">附特典</a>
            </li>
            <li class="d-inline">
              <a class="btn btn-sm {{#ifEqual tagQuery 'preOrder'}}active{{/ifEqual}}" data-tag="preOrder">預約中</a>
            </li>
            <li class="d-inline">
              <a class="btn btn-sm {{#ifEqual tagQuery 'available'}}active{{/ifEqual}}" data-tag="available">庫存發售中</a>
            </li>
            <li class="d-inline">
              <a class="btn btn-sm {{#ifEqual tagQuery 'soon'}}active{{/ifEqual}}" data-tag="soon">即將截止預約</a>
            </li>
            {{#each tagGroup}}
              <li class="d-inline">
                <a class="btn btn-sm {{#ifEqual ../tagQuery this.id}}active{{/ifEqual}}" data-tag="{{this.id}}">{{this.name}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="d-flex align-items-start">
          <div class="form-group d-inline-block">
            <div id="searchQuery" data-q="{{searchQuery}}" hidden></div>
            <div id="categoryQuery" data-category="{{categoryQuery}}" hidden></div>
            <div id="tagQuery" data-tag="{{tagQuery}}" hidden></div>
            <select id="sort" class="form-control">
              <option value="releaseDate,DESC" {{#ifEqual selectedSort 'releaseDate,DESC'}}selected{{/ifEqual}}>最新公開
              </option>
              <option value="saleDate,DESC" {{#ifEqual selectedSort 'saleDate,DESC'}}selected{{/ifEqual}}>最新發售
              </option>
              <option value="price,ASC" {{#ifEqual selectedSort 'price,ASC'}}selected{{/ifEqual}}>價格低</option>
              <option value="price,DESC" {{#ifEqual selectedSort 'price,DESC'}}selected{{/ifEqual}}>價格高</option>
            </select>
          </div>
        </div>
      </div>
      {{#if getProducts.length}}
        {{!-- 分頁 --}}
        {{>pagination}}
        {{!-- 商品型錄 --}}
        <div class="row row-cols-5">
          {{#each getProducts}}
            <div class="col px-2 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="card-img-top card-bg mb-3">
                    <img src="{{this.mainImg}}" class="w-100">
                  </div>
                  <ul class="tags">
                    {{#if isOnSale}}
                      {{#if hasInv}}
                        <li class="tag tag-preorder">發售中</li>
                      {{else}}
                        <li class="tag tag-sold-out">已售完</li>
                      {{/if}}
                    {{else if isPreOrder}}
                      <li class="tag tag-preorder">預約中</li>
                    {{else}}
                      <li class="tag tag-sold-out">預約已截止</li>
                    {{/if}}

                    {{#if Gifts.length}}
                      <li class="tag tag-gift">附特典</li>
                    {{/if}}

                    {{#each tags}}
                      <li class="tag tag-custom">{{name}}</li>
                    {{/each}}
                  </ul>
                  <h5 class="card-title my-2 mb-4">{{this.name}}</h5>
                  <p class="card-text d-flex justify-content-end">NTD {{this.priceFormat}}</p>
                </div>
                <div class="hover ">
                  <div class="icon-group">
                    <a href="/products/{{this.id}}" class="btn btn-icon px-2 py-2 mx-1 d-inline-block">
                      <i class="fas fa-search fa-2x"></i>
                    </a>
                    <form action="/cart" method="POST" class="d-inline-block">
                      <input type="hidden" name="productId" value="{{this.id}}">
                      <input type="hidden" name="productName" value="{{this.name}}">
                      <input type="hidden" name="productImg" value="{{this.mainImg}}">
                      <button type="submit" class="btn btn-icon px-2 py-2 mx-1" {{#if hasInv}} {{else}} hidden{{/if}}>
                        <i class="fas fa-cart-arrow-down fa-2x"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        {{!-- 分頁 --}}
        {{>pagination}}
      {{else}}
        <h6 class="font-weight-bold">沒有與搜尋內容相符合的商品。</h6>
      {{/if}}
    </main>
  </div>
</div>