<main class="container pt-2 pb-5">
  {{!-- 麵包屑 --}}
  <nav class="bread mb-3">
    <a href="/">Home </a>&gt;
    <a href="/products?category={{product.category}}">{{product.category}} </a>&gt;
    <span>{{product.name}}</span>
  </nav>
  {{!-- main content --}}
  <section class="mb-5 p-5">
    {{!-- 圖片區塊 --}}
    <div class="row pb-4">
      {{!-- 畫廊 --}}
      <div class="col-lg-8">
        <ul class="gallery-main">
          {{#each product.Images}}
            <li>
              <a href="{{url}}" data-lightbox="images">
                <img class="w-100" src="{{url}}" alt="product-image">
              </a>
            </li>
          {{/each}}
        </ul>
        <ul class="gallery-nav mt-4">
          {{#each product.Images}}
            <li>
              <a href="jquery:;" class="img-thumbnail">
                <img src="{{url}}" alt="product-image-sm">
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{!-- info、購物車 --}}
      <div class="col-lg-4 mt-lg-0 mt-sm-5">
        {{#if product.hasGift}}
          <div class="mb-3 pt-1">
            <span class="tag-icon mr-2">附特典</span>
          </div>
        {{/if}}
        <div>
          <h4 class="mb-3">{{product.name}}</h4>
          <p class="mb-1">作品名:　{{product.Series.name}}</p>
          <p>發售月:　{{product.saleDateFormat}}</p>
        </div>
        <hr>
        {{!-- 購物車 --}}
        <div class="small-text">
          <form id="addCart1" action="/cart" method="POST" class="h-100">
            <div class="form-group text-center">
              <input type="hidden" name="productId" value="{{product.id}}">
              <input type="hidden" name="productName" value="{{product.name}}">
              <input type="hidden" name="productImg" value="{{product.Images.0.url}}">
              <button class="cart-btn cart-btn-lg btn" {{#unless product.hasInv}}disabled{{/unless}}>
                <i class="fas fa-cart-arrow-down"></i>
                <span>　加入購物車</span>
              </button>
            </div>
          </form>
          <div class="mb-0 text-center">
            {{#if product.isOnSale}}
              {{#if product.hasInv}}
                <p class="mb-2 status-text">發售中</p>
              {{else}}
                <p class="mb-2 status-sold-out">已售完</p>
              {{/if}}
            {{else}}
              <p class="mb-2 status-text">預約中</p>
            {{/if}}
            <hr class="my-2">
            <div class="d-flex px-3 mb-2 justify-content-between align-items-center">
              <span>數量</span>
              <select class="qty-select" name="quantity" form="addCart1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <hr class="my-2">
            <div class="d-flex px-3 justify-content-between align-items-center">
              <span>價格</span>
              <span>NTD {{product.priceFormat}}</span>
            </div>
          </div>
        </div>
        <hr class="my-2">
        <div class="buy-info">
          <p>※ おひとり様3つまでの販売となります。上限数を超えるご注文に関しましては、キャンセルさせていただきます。</p>
          <p>※ ご注文後のキャンセルにつきましては、一切お受け致しておりません。</p>
        </div>
      </div>
    </div>
    {{!-- 說明區塊 --}}
    <hr>
    <div class="row py-4">
      <div class="col-2 font-weight-bold">商品介紹</div>
      <div class="col-10">
        <p class="slogan">{{product.slogan}}</p>
        <p>{{product.description}}</p>
        <p class="mt-5">&copy; {{product.copyright}}</p>
      </div>
    </div>
    <hr>
    {{!-- 受理期間 --}}
    <div class="row py-4">
      <div class="col-2 font-weight-bold">受理期間</div>
      <div class="col-10">
        {{#if product.isOnSale}}
          <s>【受注生產】{{product.releaseDateFormat}} 12:00 開始 {{product.deadlineFormat}} 21:00 結束。</s>
          <p>※ 無庫存時販售終止</p>
        {{else}}
          <p>【受注生產】{{product.releaseDateFormat}} 12:00 開始 {{product.deadlineFormat}} 21:00 結束。</p>
        {{/if}}
      </div>
    </div>
    <hr>
    {{!-- 特典 --}}
    {{#if product.hasGift}}
    <div class="row py-4">
      <div class="col-2">
        <span class="tag-icon icon2">附特典</span>
      </div>
      <div class="col-6">
        <p>【GREATSMILE ONLINE SHOP予約特典】</p>
        <p>「{{product.name}}」をご購入頂いた方に、「{{product.Gifts.0.name}}」をプレゼント！</p>
      </div>
      <div class="col-4">
        <div class="gift-img">
          <img class="w-100" src="{{product.Gifts.0.image}}" alt="gift-img">
        </div>
      </div>
    </div>
    <hr>
    {{/if}}
    {{!-- 價格、購物車 --}}
    <div class="row py-4">
      <div class="col-2 font-weight-bold">價格</div>
      <div class="col-6">
        <small>NTD {{product.priceFormat}}</small>
        <div class="mt-2">
          <form id="addCart2" action="/cart" method="POST">
            <div class="form-group">
              <input type="hidden" name="productId" value="{{product.id}}">
              <input type="hidden" name="productName" value="{{product.name}}">
              <input type="hidden" name="productImg" value="{{product.Images.0.url}}">
              <button class="cart-btn cart-btn-sm btn" {{#unless product.hasInv}}disabled{{/unless}}>
                <i class="fas fa-cart-arrow-down"></i>
                <span>　加入購物車</span>
              </button>
            </div>
          </form>
          <div class="d-flex align-items-center">
            <span class="mr-3">數量</span>
            <select class="qty-select mr-3" name="quantity" form="addCart2">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            {{#if product.isOnSale}}
              {{#if product.hasInv}}
                <span class="status-text">發售中</span>
              {{else}}
                <span class="status-sold-out">已售完</span>
              {{/if}}
            {{else}}
              <span class="status-text">預約中</span>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-4 buy-info">
        <p>※ おひとり様3つまでの販売となります。上限数を超えるご注文に関しましては、キャンセルさせていただきます。</p>
        <p>※ ご注文後のキャンセルにつきましては、一切お受け致しておりません。</p>
      </div>
    </div>
    <hr>
    {{!-- 規格 --}}
    <div class="row py-4">
      <div class="col-2 font-weight-bold">規格</div>
      <div class="col-10">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="mr-5">商品名</span>
            <span>{{product.name}}</span>
          </li>
          <li class="list-group-item">
            <span class="mr-5">發售月</span>
            <span>{{product.saleDateFormat}}</span>
          </li>
          <li class="list-group-item">
            <span class="mr-5">公開日</span>
            <span>{{product.releaseDateFormat}}</span>
          </li>
          <li class="list-group-item">
            <span class="mr-5">製造商</span>
            <span>{{product.maker}}</span>
          </li>
          <li class="list-group-item">
            <span class="mr-5">作品名</span>
            <span>{{product.Series.name}}</span>
          </li>
          <li class="list-group-item border-bottom">
            <span class="mr-5">規　格</span>
            <span>{{product.spec}}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {{!-- waring info --}}
  <section class="mb-5 p-5">
    <div class="small-text">
      ※ 受注期間、予約受付期間内においても販売を終了する場合がございます。ご了承ください。
      <br>
      ※ 銀行振り込みの際は、ご注文番号のご記入をお忘れなくお願い致します。
      <br>
      ※ クレジットカードでのお支払いにつきましては、予約商品の場合、商品発送予定日が確定・ご案内させていただき次第、発送予定日の2～3週間前から順次決済手続きを行わせていただきます。
      <br>
      ※ Amazonペイメントサービスでのお支払いにつきましては、ご注文時に即時決済処理となりますのでご注意下さい。
      <br>
      ※ ご利用ガイドにも記載しております通り、ご注文後のキャンセルは承る事ができませんので、ご注文の際はご注意頂きますようお願い致します。
      <br>
      ※ 掲載の写真は実際の商品とは多少異なる場合があります。
      <br>
      ※ 商品の塗装は彩色工程が手作業になるため、商品個々に多少の差異があります。予めご了承ください。
    </div>
  </section>
</main>