<div class="container pt-2 pb-5">
  <div class="row">
    <main class="col-md-12">
      {{!-- 麵包屑 --}}
      <nav class="bread mb-3">
        <a href="/">Home </a>&gt;
        <span>製品一覽</span>
      </nav>
      {{!-- 分頁 --}}
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{!-- tag + select --}}
      <div class="row d-flex justify-content-between">
        <div class="d-flex align-items-start">
          <ul class="nav-tag">
            <li class="d-inline">
              <a href="#" class="btn btn-sm">預購中</a>
            </li>
            <li class="d-inline">
              <a href="#" class="btn btn-sm">特典</a>
            </li>
            <li class="d-inline">
              <a href="#" class="btn btn-sm">庫存販售商品</a>
            </li>
            <li class="d-inline">
              <a href="#" class="btn btn-sm active">所有商品</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-start">
          <div class="form-group d-inline-block">
            <select id="order" class="form-control">
              <option 
                value="releaseDate,DESC"
                {{#ifEqual selectSort 'releaseDateDESC'}}selected{{/ifEqual}}
              >介紹日 新→舊</option>
              <option 
                value="saleDate,DESC"
                {{#ifEqual selectSort 'saleDateDESC'}}selected{{/ifEqual}}
              >發售日 新→舊</option>
              <option 
                value="price,ASC"
                {{#ifEqual selectSort 'priceASC'}}selected{{/ifEqual}}
              >
                價格 低→高
              </option>
              <option 
                value="price,DESC"
                {{#ifEqual selectSort 'priceDESC'}}selected{{/ifEqual}}
              >
                價格 高→低
              </option>
            </select>
          </div>
          <a href="#" class="btn btn-display">
            <i class="fas fa-list"></i>
          </a>
          <a href="#" class="btn btn-display">
            <i class="fas fa-th-large"></i>
          </a>
        </div>
      </div>
      {{!-- 商品型錄 --}}
      <div class="row">
        {{#each products}}
        <div class="col-md-2-5 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="card-img-top card-bg mb-3">
                <img src="{{this.mainImg}}" class="card-img-top img-fit">
              </div>
              {{#if hasInv}}
                {{#if isPreorder}}
                <span class="tag tag-preorder">預購中</span>
                {{else}}
                <span class="tag tag-preorder">發售中</span>
                {{/if}}
              {{else}}
                <span class="tag tag-sold-out">已售完</span>
              {{/if}}

              
              {{#if isGift}}
              <span class="tag tag-gift">特典</span>
              {{/if}}
              <h5 class="card-title mt-3">{{this.name}}</h5>
              <p class="card-text pt-3 d-flex justify-content-end">NTD {{this.priceFormat}}</p>
            </div>
            <div class="hover ">
              <div class="icon-group">
                <a href="/products/{{this.id}}" class="btn btn-icon px-2 py-2 mx-1 d-inline-block">
                  <img src="/img/magnifying-glass.png">
                </a>
                <form action="/cart" method="POST" class="d-inline-block">
                  <input type="hidden">
                  <button type="submit" class="btn btn-icon px-2 py-2 mx-1">
                    <img src="/img/cart.png">
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{!-- 分頁 --}}
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
  </div>
</div>
