<main class="container pt-2 pb-5">
  {{!-- 訂單成立通知 --}}
  <div class="row">
    <div class="col-12 p-3">
      <div class="panel mx-1 text-center font-format notice">
        <div class="py-4">
          <h4 class="pb-4">訂單處理中，謝謝您的光顧。</h4>
          <p>訂單內容已發送至 {{user.email}}，訂單編號為 {{data.sn}}。</p>
          <p class="pb-5">下訂日期 {{orderDate}}</p>
          <a href="/products" class="btn px-4 mx-1">繼續購物</a>
          <a href="/orders/{{data.id}}/payment" class="btn px-4 mx-1">立即付款</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {{!-- 主卡片 --}}
    <section class="col-md-9 mb-5 p-3">
      <div class="row panel mx-1">
        <div class="panel-heading col-md-12">
          <div>配送商品</div>
        </div>
        {{!-- 商品內容 --}}
        <div class="panel-body col-md-12 py-3">
          <div class="order-product">
            {{!-- 標題 --}}
            <div class="row">
              <div class="col-md-7 item-title">商品</div>
              <div class="col-md-5 item-title">
                <div class="d-flex justify-content-between align-items-center">
                  <span>商品價格</span>
                  <span>數量</span>
                  <span>合計價格</span>
                </div>
              </div>
            </div>
            <hr>
            {{!-- 內文 --}}
            {{#each data.cart.products}}
            <div class="row">
              <div class="col-md-7 d-flex align-items-center h-100">
                <div>
                  <a href="/products/{{this.id}}" class="product-img">
                    <img src="{{this.Images.0.url}}" class="img-fit">
                  </a>
                </div>
                <div class="font-format pl-3">
                  <a href="/products/{{this.id}}" class="product-name pb-2">{{this.name}}</a>
                  {{#if this.Gifts.length}}
                    <div class="mt-2">
                      <span class="product-tag tag-gift">附特典</span>
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="col-md-5 font-format">
                <div class="d-flex justify-content-between align-items-center h-100 pb-2">
                  <span>NTD {{addDot this.price}}</span>
                  <span>{{addDot this.quantity}}</span>
                  <span>NTD {{addDot this.amount}}</span>
                </div>
              </div>
            </div>
            <hr>
            {{/each}}
          </div>

          {{!-- 總計區塊 --}}
          <div class="order-amount">
            <div class="row">
              <div class="col-md-7 font-format"></div>
              <div class="col-md-5 font-format">
                <div class="d-flex justify-content-between align-items-center">
                  <span>小計</span>
                  <span>NTD {{addDot data.cart.subtotal}}</span>
                </div>
                <hr class="my-3">
                <div class="d-flex justify-content-between align-items-center">
                  <span>運費</span>
                  <span>NTD {{addDot data.shipping}}</span>
                </div>
                <hr class="my-3">
                <div class="d-flex justify-content-between align-items-center font-format-bold">
                  <span>合計</span>
                  <span>NTD {{addDot data.amount}}</span>
                </div>
                <hr class="mt-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{!-- 側邊欄 --}}
    <aside class="col-md-3 mb-5 p-3">
      {{!-- 配送資訊 --}}
      <div class="row panel mx-1 mb-3 font-format side-box-shadow">
        <div class="panel-body w-100 p-3">
          <div class="side-heading">
            <div>配送資訊</div>
          </div>
          <hr class="my-2">
          <div>
            <ul class="side-item-list mb-0">
              <li>{{data.receiver.[0]}} {{data.receiver.[1]}}</li>
              <li>{{data.address.[0]}}</li>
              <li>{{data.address.[1]}}</li>
              <li>{{data.address.[2]}}</li>
              <li>{{data.address.[3]}}</li>
              <li>{{data.address.[4]}}</li>
              <li>{{data.phone}}</li>
            </ul>
          </div>
        </div>
      </div>

      {{!-- 配送方法 --}}
      <div class="row panel mx-1 mb-3 font-format side-box-shadow">
        <div class="panel-body w-100 p-3">
          <div class="side-heading">
            <div>寄件方式</div>
          </div>
          <hr class="my-2">
          <div>
            <ul class="side-item-list mb-0">
              <li>{{data.deliveryMethod}} - NTD {{addDot data.shipping}}</li>
            </ul>
          </div>
        </div>
      </div>

      {{!-- 付款方式 --}}
      <div class="row panel mx-1 font-format side-box-shadow">
        <div class="panel-body w-100 p-3">
          <div>
            <div class="side-heading">
              <div>付款方式</div>
            </div>
            <hr class="my-2">
            <div>
              <ul class="side-item-list mb-0">
                <li class="mb-2">{{data.payMethod}}</li>
                {{#ifEqual data.payMethod '便利商店取貨付款'}}
                  {{!-- put null --}}
                {{else}}
                  <li class="mb-2">
                    <div>付款期限:</div>
                    <div>　{{paymentTerms}}</div> 
                  </li>
                {{/ifEqual}}
                <li>
                  <div>訂單編號:</div>
                  <div>　{{data.sn}}</div>
                </li>
              </ul>
            </div>
          </div>

          {{!-- 帳單地址未實裝 資料取配送地址 --}}
          <div class="pt-2">
            <div class="side-heading">
              <div>帳單地址</div>
            </div>
            <hr class="my-2">
            <div>
              <ul class="side-item-list mb-0">
                <li>{{data.receiver.[0]}} {{data.receiver.[1]}}</li>
                <li>{{data.address.[0]}}</li>
                <li>{{data.address.[1]}}</li>
                <li>{{data.address.[2]}}</li>
                <li>{{data.address.[3]}}</li>
                <li>{{data.address.[4]}}</li>
                <li>{{data.phone}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</main>