{{!-- 側邊攔、總金額 --}}
<section class="panel mb-4">
  <h6 class="font-weight-bold border-bottom p-3">訂單合計</h6>
  <div class="px-3 pb-3">
    <div class="d-flex justify-content-between border-bottom py-2 font-small">
      <span>小計:</span>
      <span>NTD {{addDot data.cart.subtotal}}</span>
    </div>
    <div class="d-flex justify-content-between border-bottom py-2 font-small">
      <span>運費:</span>
      {{#if data.shipping}}
        <span>NTD {{addDot data.shipping}}</span>
      {{else}}
        <span>NTD 0</span>
      {{/if}}
    </div>
    <div class="d-flex justify-content-between font-weight-bold py-2">
      <span>合計:</span>
      {{#if data.amount}}
        <span>NTD {{addDot data.amount}}</span>
      {{else}}
        <span>NTD {{addDot data.cart.subtotal}}</span>
      {{/if}}
    </div>
  </div>
</section>